.filter-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: white;
    border-radius: 1%;
    padding: 1%;
    margin: 1%;
}
.filter-container-full {
    width: 100%;
    padding: 1%;
}
.filter-container-item {
    width: 50%;
    padding: 1%;

}
.dashboard-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 15px;
}

/* Add this CSS to your styles or use a stylesheet */
.chart-container {
    width: 100%;
    height: 300px;
  }
  
  .chart-container .chartjs-title {
    font-size: 16px; /* Set your desired font size */
    max-width: 200px; /* Set a maximum width for the title */
    white-space: normal; /* Allow wrapping to the next line */
  }
 