/* fall back ui css  */
.error-status {
    text-align: center;
    font-family: 'ProximaNova-Semibold';
    letter-spacing: 0px;
    color: #1e1e1e;
    opacity: 1;
    font-size: 80px;
    line-height: 60px;
    margin: 0 0 20px;
}
.oops {
    
    text-align: center;
    font-family: 'ProximaNova-Regular';
    letter-spacing: 0px;
    color: #787878;
    opacity: 1;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 20px;
}
.page-not-found {
    text-align: center;
    font-family: 'ProximaNova-Regular';
    letter-spacing: 0px;
    color: #787878;
    opacity: 1;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 20px;
}

.fallbackUI-sect {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 85vh;
}

.fallbackUI-imgblk{position: relative;}
.fallbackUI-txtblk{position: absolute;top: 58px;left: 0;right: 0;margin: 0 auto;}