.footer-wrapper{padding: 5px 0;border-top: 1px solid #1E1E1E;color: #1E1E1E;}
.copyright-wrapper{font-size: 12px; line-height: 12px;}
.version-txt{font-size: 12px;}
footer{position: fixed;
    width: 100%;
    bottom: 0;
    background: #f4f7fc;
    margin-top: 5px;}
.login-page footer{background: none;}