@media screen and (max-width: 1200px) {
    .assessment-tab-wrap .MuiTab-root{padding: 30px 15px;}
    .card-form-three-field {flex: 0 0 31.3%;max-width: 31.3%;}
}
@media screen and (max-width: 1023px) {
    .login-rightblk{padding: 0 30px;}

    .sect-card-form-leftfield, .sect-card-form-rightfield{flex: 0 0 100%;
        max-width: 100%;}
        .sect-card-form-rightfield .form-group{flex: 0 0 48%;
            max-width: 48%;}
    .que-card-form-leftfield, .que-card-form-rightfield{flex: 0 0 100%;
        max-width: 100%;}
    .que-card-form-rightfield .form-group {
    flex: 0 0 48%;
    max-width: 48%;
}
    .que-card-input-type-wrapper{display: block;}
    .que-card-input-type-wrapper .que-card-form-leftfield{margin-bottom: 20px;}

}

@media screen and (max-width: 768px) {
    .assessment-tab-wrap .MuiTabs-flexContainer{flex-wrap: wrap;}
    
}
