name: SonarQube Code Analysis

on:
  pull_request:
    branches: [main, develop]

jobs:
  sonarqube:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Clean large or unnecessary directories
        run: |
          rm -rf coverage reports dist build public node_modules/.cache || true

      - name: Install dependencies
        run: |
          npm cache clean --force
          npm ci --no-audit --prefer-offline

      - name: Run SonarQube Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          npx sonar-scanner \
            -Dsonar.host.url=$SONAR_HOST_URL \
            -Dsonar.login=$SONAR_TOKEN \
            -Dsonar.projectKey=PR74-CGF-HRDD-Web-Front \
            -Dsonar.projectName=PR74-CGF-HRDD-Web-Front \
            -Dsonar.sources=src/components,src/utils,src/router
            -Dsonar.exclusions="**/node_modules/**,**/build/**,**/dist/**,**/coverage/**,**/reports/**,**/public/**,**/*.test.*,**/*.spec.*,**/*.mock.*,**/*.min.js,**/*.bundle.js,**/assets/**,**/vendor/**" \
            -Dsonar.scm.disabled=true \
            -Dsonar.upload.compression=true \
            -Dsonar.cpd.skip=true \
            -Dsonar.verbose=true
            -Dsonar.ws.timeout=600 \
            -Dsonar.ce.taskTimeout=600000
